@import '../../shared/styles/course-page.css';

.cursos-container {
    font-family: 'Segoe UI', sans-serif;
}

.courses-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.course-card {
    width: 100%;
}

/* Colores de fondo de las imágenes */
.color-blue {
    background-color: #e1f5fe;
}

.color-pink {
    background-color: #fce4ec;
}

.color-yellow {
    background-color: #fff9c4;
}

.color-green {
    background-color: #9bf5a3;
}

.color-red {
    background-color: #dd7d8a;
}

.color-purpure {
    background-color: #da8fed;
}

.color-white {
    background-color: #fcfcfc;
}

.color-black {
    background-color: #534f4f;
}

.color-orange {
    background-color: #f89b54;
}

@media (max-width: 1280px) {
    .courses-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1024px) {
    .courses-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .courses-grid {
        grid-template-columns: repeat(2, 1fr);
        padding: 12px;
        gap: 14px;
    }
}

@media (max-width: 520px) {
    .courses-grid {
        grid-template-columns: 1fr;
    }
}