/* Contenedor principal de la navegación */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 2500px;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: white;
    width: 95%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

/* Logo y Texto */
.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-img {
    height: 60px;
}

.logo-text {
    font-size: 24px;
    font-weight: bold;
    color: #2d4a8a;
}

.logo-text span {
    color: #ff8a9e;
}

/* Enlaces de navegación */
.nav-links {
    display: flex;
    align-items: center;
    gap: 70px;
}

.nav-links a {
    text-decoration: none;
    color: #5a71a3;
    font-weight: 500;
    font-size: 18px;
    transition: color 0.3s ease;
}

.nav-links a:hover, .nav-links a.active {
    color: #2d4a8a;
}

/* Botón "Crear Curso" */
.btn-create {
    background-color: #ff8a9e;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(255, 138, 158, 0.3);
    transition: transform 0.2s ease, background-color 0.3s ease;
}

.btn-create:hover {
    background-color: #ff7086;
    transform: translateY(-2px);
}